h1{
    text-align: center;
    font-size: 40px;
    letter-spacing: 10px;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center;
    gap: 20px;
    padding: 20px; */
}

.producto{
    border: 1px solid #ccc;
    /* border-radius: 10px; */
    padding: 10px;
    width: 25%;
    /* text-align: center;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1); */
}